    <div>
        <h1> # Angular QuickStart Source</h1>

        <p>
            This repository holds the TypeScript source code of the angular.io quickstart <a href="https://angular.io/docs/ts/latest/quickstart.html" >QuickStart</a>,
            the foundation for most of the documentation samples and potentially a good starting point for your application.
        </p>

        <p>It's been extended with testing support so you can start writing tests immediately.</p>

        <p>
            **This is not the perfect arrangement for your application. It is not designed for production.
            It exists primarily to get you started quickly with learning and prototyping in Angular**
        </p>

        <p>
            We are unlikely to accept suggestions about how to grow this QuickStart into something it is not.
            Please keep that in mind before posting issues and PRs.
        </p>

        <h1>## Prerequisites</h1>

        <p>Node.js and npm are essential to Angular development.</p>

        <a href="https://docs.npmjs.com/getting-started/installing-node" target="_blank" title="Installing Node.js and updating npm">
            Get it now
        </a> if it's not already installed on your machine.

        <p>
            **Verify that you are running at least node `v4.x.x` and npm `3.x.x`**
            by running `node -v` and `npm -v` in a terminal/console window.
            Older versions produce errors.
        </p>

        <p>We recommend <a href="https://github.com/creationix/nvm" >NVM</a> for managing multiple versions of node and npm.</p>

        <p>## Create a new project based on the QuickStart</p>

        <p>
            Clone this repo into new project folder (e.g., `my-proj`).
        </p>
        <p>
            git clone  <a href="https://github.com/angular/quickstart" >git-clone</a>  my-proj
            cd my-proj
        </p>

        <p>
            We have no intention of updating the source on `angular/quickstart`.
            Discard everything "git-like" by deleting the `.git` folder.
            bash
            rm -rf .git  # non-Windows
            rd .git /S/Q # windows
        </p>

        <h1>### Create a new git repo</h1>
        <p>
            You could [start writing code](#start-development) now and throw it all away when you're done.
            If you'd rather preserve your work under source control, consider taking the following steps.
        </p>

        <p>
            Initialize this project as a *local git repo* and make the first commit:
            ```bash
            git init
            git add .
            git commit -m "Initial commit"
            ```
        </p>

        <h2>Create a *remote repository* for this project on the service of your choice.</h2>

        <h1>
            Grab its address e.g. * <a href="https://github.com/<my-org>/my-proj.git">local Repo</a> and push the *local repo* to the *remote*.
        </h1>
        <p>
            git remote add origin
        </p>

            <p>git push -u origin master</p>

            <h1>## Install npm packages</h1>

            <h1> See npm and nvm version notes above</h1>

            <p>Install the npm packages described in the `package.json` and verify that it works:</p>
            <p>
                npm install
                npm start
            </p>

            <p>
                The `npm start` command first compiles the application,
                then simultaneously re-compiles and runs the `lite-server`.
                Both the compiler and the server watch for file changes.
            </p>

            <p>Shut it down manually with `Ctrl-C`.</p>

            <h1>You're ready to write your application.</h1>

            <p>### npm scripts</p>

            <p>We've captured many of the most useful commands in npm scripts defined in the `package.json`:</p>

            <p>* `npm start` - runs the compiler and a server at the same time, both in "watch mode".</p>
            <p>* `npm run tsc` - runs the TypeScript compiler once.</p>
            <p>* `npm run tsc:w` - runs the TypeScript compiler in watch mode; the process keeps running, awaiting changes to TypeScript files and re-compiling when it sees them.</p>
            <p>* `npm run lite` - runs the <a href="https://www.npmjs.com/package/lite-server" >Lite-Server</a>, a light-weight, static file server, written and maintained by</p>
            <p><a href="https://github.com/johnpapa">John Papa</a> and</p>
            <p><a href="https://github.com/cgmartin" >Christopher Martin</a></p>
            <p>with excellent support for Angular apps that use routing.</p>

            <p>Here are the test related scripts:</p>
            <p>* `npm test` - compiles, runs and watches the karma unit tests</p>
            <p>* `npm run e2e` - run protractor e2e tests, written in JavaScript (*e2e-spec.js)</p>

            <h2>## Testing</h2>

            <p>The QuickStart documentation doesn't discuss testing.</p>
            <p>This repo adds both karma/jasmine unit test and protractor end-to-end testing support.</p>

            <p>These tools are configured for specific conventions described below.</p>

            <p>*It is unwise and rarely possible to run the application, the unit tests, and the e2e tests at the same time.
            We recommend that you shut down one before starting another.*</p>

            <h1>### Unit Tests</h1>
            <p>TypeScript unit-tests are usually in the `app` folder. Their filenames must end in `.spec`.</p>

            <p>Look for the example `app/app.component.spec.ts`.</p>
            <p>Add more `.spec.ts` files as you wish; we configured karma to find them.</p>

            <h2>Run it with `npm test`</h2>

            <p>That command first compiles the application, then simultaneously re-compiles and runs the karma test-runner.
            Both the compiler and the karma watch for (different) file changes.</p>

            <h3>Shut it down manually with `Ctrl-C`.</h3>

            <p>Test-runner output appears in the terminal window.
            We can update our app and our tests in real-time, keeping a weather eye on the console for broken tests.
            Karma is occasionally confused and it is often necessary to shut down its browser or even shut the command down (`Ctrl-C`) and
            restart it. No worries; it's pretty quick.</p>

            <h2>### End-to-end (E2E) Tests</h2>

            <p>E2E tests are in the `e2e` directory, side by side with the `app` folder.</p>
            <p>Their filenames must end in `.e2e-spec.ts`.</p>

            <p>Look for the example `e2e/app.e2e-spec.ts`.</p>
            <p>Add more `.e2e-spec.js` files as you wish (although one usually suffices for small projects);
            we configured protractor to find them.</p>

            <p>Thereafter, run them with `npm run e2e`.</p>

            <p>That command first compiles, then simultaneously starts the Http-Server at `localhost:8080`
            and launches protractor.</p>

            <p>The pass/fail test results appear at the bottom of the terminal window.
            A custom reporter (see `protractor.config.js`) generates a  `./_test-output/protractor-results.txt` file
            which is easier to read; this file is excluded from source control.</p>

            <h1>Shut it down manually with `Ctrl-C`.</h1>
    </div>

